<div class="card">
    <div class="card-body" align="center">
      Ingresa la siguiente información para enseñarte las mejores opciones:
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-4" bg-info>
            <h1>TIPO DE LENTE</h1>
            <form>
                <input type="radio" id="monofocales"  value="monofocales">
                <label for="monofocales">Monofacales</label><br>
                <input type="radio" id="progresivos"  value="progresivos">
                <label for="progresivos">Progresivos</label><br>
                <input type="radio" id="bifocales"  value="bifocales">
                <label for="other">Bifocales</label>
                <div class="form-field">
                    <input type="radio" id="descanso" value="descanso">
                    <label for="other" aling="left">Descanso</label>
                </div>
            </form>
          </div> 
          <div class="col-lg-4"  bg-info>
            <h1>FILTRO</h1> 
            <form>
                <input type="radio" id="UV" value="UV">
                <label for="monofocales">UV</label><br>
                <input type="radio" id="hidro" value="hidro">
                <label for="hidro">AR Hidrofóbicos</label><br>
                <div class="form-field">
                    <input type="radio" id="antiraya"value="antiraya">
                    <label for="other">Anti-rayas</label>
                </div>
                <input type="radio" id="polarizado" value="polarizado">
                <label for="polarizado">Polarizado</label><br>
            </form>
          </div>  
          <div class="col-lg-4"  bg-info>
            <h1>PRESUPUESTO</h1> 
            <form>
                <input type="radio" id="100.000" value="precio">
                <label for="precio">$100.000</label><br>
                <input type="radio" id="200.000" value="precio">
                <label for="precio">$200.000</label><br>
                <div class="form-field">
                    <input type="radio" id="300.000"value="precio">
                    <label for="precio">$300.000</label>
                </div>
                <input type="radio" id="masdinero" value="masdinero">
                <label for="masdinero">+$300.000</label><br>
            </form>
          </div>  
       </div>
          
    </div>
    <a class="btn btn-primary" routerLink="/resultados" role="button" align="center">Resultado</a>
</div>

