<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;" >
      <img src="/assets/fotos/DescansoAntirRayas.jpg " width="285" height="250" alt="...">
      <div class="card-body">
        <p class="card-text" align="center">GAFAS REFERENCIA #6987</p>
        <p class="card-text" align="center">DISPONIBLE</p>
        <p> </p>
      </div>
      <a class="btn btn-primary" routerLink="/pago" role="button" aling="center">COMPRAR</a>
    </div>    
    <div class="card" style="width: 18rem;" >
      <img src="/assets/fotos/MonofocalUV.jpg" width="285" height="250"  alt="...">
      <div class="card-body">
        <p class="card-text" align="center">GAFAS REFERENCIA #4120</p>
        <p class="card-text" align="center">DISPONIBLE</p>
      </div>
      <a class="btn btn-primary" routerLink="/pago" role="button" aling="center">COMPRAR</a>
    </div> 
    <div class="card" style="width: 18rem;" >
      <img src="/assets/fotos/bifocal.jpg" width="285" height="250" alt="...">
      <div class="card-body">
        <p class="card-text" align="center">GAFAS REFERENCIA #1578</p>
        <p class="card-text" align="center">DISPONIBLE</p>
      </div>
      <a class="btn btn-primary" routerLink="/pago" role="button" aling="center">COMPRAR</a>
    </div>   
    <div class="card" style="width: 17rem;" >
      <img src="/assets/fotos/gafas12.jpg" width="270" height="250" alt="...">
      <div class="card-body">
        <p class="card-text" align="center">GAFAS REFERENCIA #6714</p>
        <p class="card-text" align="center">DISPONIBLE</p>
      </div>
      <a class="btn btn-primary" routerLink="/pago" role="button" aling="center">COMPRAR</a>
    </div>    
  </div>
</div>
