<div class="container" align="center" >
  <div class="card"  style="width: 20rem"  >
    <img src="assets/fotos/metododepago.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">MÉTODO DE PAGO</h5>
      <p class="card-text">Realiza tu pago con tarjeta de créditos y recibe -15% en tu compra.</p>
      <p>
        <a class="btn btn-primary"  role="button" aling="center">Tarjeta de credito</a>
      </p>
      <p>
        <a class="btn btn-primary"  role="button" aling="center">Pago en línea seguro(PSE)</a>
      </p>
      <div class="row">
        <div class="col">
        </div>
      </div>
    </div>
  </div>
</div>



